---
const { text } = Astro.props;
---

<div class="flex justify-center items-center px-4 py-2 mx-auto mb-6 bg-gradient-to-r rounded-full border w-fit sm:px-6 sm:py-3 from-primary/10 to-accent/10 border-primary/20 sm:mb-8 lg:mb-6 progressive-reveal-element" data-delay="0">
    <div class="mr-2 w-2 h-2 bg-gradient-to-r rounded-full from-primary to-accent sm:mr-3"></div>
    <span class="text-xs font-semibold text-primary sm:text-sm lg:text-base">{text}</span>
</div>